@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform-oriange($origin) {
  transform-origin: $origin;
  -moz-transition: $origin;
  -webkit-transition: $origin;
  -ms-transition: $origin;
  -o-transition: $origin;

}


@mixin scale($scale){
  transform: scale($scale);
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}

*{
	margin: 0;
	padding: 0;
}

.pagewrapper{
	font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
		-ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
	background: url(http://7xrkhi.com1.z0.glb.clouddn.com/bgp.png);
	width: 100%;
	.git_anchro{
		position: absolute;
		margin-top: 50px;
		margin-left: 80px;
		width: 20px;
		.fa_github{
			display: block;
			background-image: url(../images/github2.png);
			background-position: center center;
			width: 36px;
			height: 36px;
			background-repeat: no-repeat;			
			// -webkit-font-smoothing: antialiased;
			// -moz-osx-font-smoothing: grayscale;
		}
		.fa_github:hover{
			display: block;
			background-image: url(../images/github.png);
			background-position: center center;
			width: 36px;
			height: 36px;
			background-repeat: no-repeat;			
			// -webkit-font-smoothing: antialiased;

		}
	}
	header{
		// background-image: url(../images/banner_bgi_1080.jpg);
		background-repeat: no-repeat;
		height: 768px;
			text-align: center;
			padding-top: 190px;
		h1:first-child{
			color: #D39A50;
			font-size: 80px;
			background-color: rgba(255,253,257,0.6);
		}
		h1:nth-child(2){
			margin-top: 22px;
			font-size: 33px;
			color: #FF530D;
		}
		h1:last-child{
			margin-top: 10px;
			a{
				text-decoration: none;
				color: #FFD478;
			}
			
		}



	}

	.aps_summary{
		display: flex;
		width: 90%;
		height: 600px;
		margin: 0 auto;
		margin-top: -400PX;
		// background-color: black;

		.summary_img{
			height: 100%;
			width: 50%;
			background-color: rgba(178,241,133,0.5);
			display: inline-block;
			background-image: url(../images/ours.jpg);
			background-position: center center;
			background-repeat: no-repeat;
			p{
				color: #FF530D;
				margin: 20px;
				text-indent: 10px;
				font-size: 20px;
			}
		}

		.summary_text{
			height: 100%;
			width: 50%;
			background-color: #EDF1F2;
			display: inline-block;
			.st_top{
				margin-top: 50px;
				margin-left: 30px;
				:before{
					content: url(../images/calendar_12.png);
					margin-right: 5px;
				}
				p{
					// font-size: 20px;
					color: #595757;

					// display: inline-block;
				}
			}
			.main_content{
				vertical-align: super;
				margin: 6%;
				h2{
					width: 40%;
					margin-bottom: 5%;
					display: inline-block;
				}
				.about{
					display: inline-block;
					margin-left: 22%;
					
					i{
						margin: 10px;
					}
					i:first-child:before{
						content: url(../images/fav_like.png);
						margin-right: 10px;
						cursor: pointer;

					}
					i:last-child:before{
						content: url(../images/fav_comment.png);
						margin-right: 10px;
						cursor: pointer;

					}
				}
				p{
					text-align: justify;
				}
			}

			.st_buttom{
				width: 100%;
				height: 42.8%;
				// background-color: green;

				.btons{
					padding-top: 6%;
					position: relative;
					display: flex;
					justify-content: center;

					.bton_cl_1{
						width: 22%;
						height: 25%;
						background-color: black;
						margin: 2%;
						text-align: center;
						line-height: 370%;
						border-radius: 3px;
						cursor: pointer;
						a{
							text-decoration: none;
							color: white;
						}

					}

					.bton_designer{
						i:before{
							content: url(../images/designer.png);
							margin: 6px 6px 0 0;
						}
						background-color: #A08F78;

					}

					.bton_bloger{
						i:before{
							content: url(../images/blog.png);
							margin: 6px 6px 0 0;
							position: relative;
							top: 6px;
						}
						background-color: rgba(255,83,13,0.6);
					}

					.bton_qq{
						position: relative;
						i:before{
							content: url(../images/qq.png);
							margin: 6px 6px 0 0;
							position: relative;
							top: 6px;
						}
						background-color: rgba(60,232,189,0.6);

						&:hover{
							.qq_layer{
								opacity: 1;
								filter: alpha(opacity=0);

								@include scale(1);
							}
						}

						.qq_layer{
							background-image: url(../images/contact_qq.jpg);
							position: absolute;
							width: 150px;
							height: 250px;
							background-repeat: no-repeat;
							margin: -99% 0 0 21%;
							opacity: 0;
							filter: alpha(opacity=0);
							@include transform-oriange(0 80%);
							@include scale(0.01);
							@include transition(all 1s)
						}
					}

				}
				.buttom_guide{
					width: 100%;
					height: 15%;
					// background-color: #ccc;
					margin-top: 10%;
					margin-left: 7%;
					span{
						font-size: 5px;
					}
				}

			}

		}

	}


	.main{
		margin-top: 60px;
		width: 100%;
		height: 2000px;
		.er_caption_c1{
			position: relative;
			z-index: 999;
			width: 22%;
			padding: 5% 0 0 16%;
			h2{
				color: blue;
			}
			p{
				margin-top: 8%;
				text-align: justify;
				text-indent: 6%;
				margin-bottom: 8%;
			}
			a{
				text-decoration: none;
				color: #595757;
				i{

					width: 50%;
					height: 9%;
					line-height: 219%;
					border: 1.2px solid #595757;
					display: block;
					margin-left: 16%;
					text-align: center;
					border-radius: 10%;
					cursor: pointer;
				}
			}
		}

			.er_caption_c2{
			position: relative;
			margin-left: 50%;
			z-index: 999;
			width: 22%;
			padding: 5% 0 0 12%;
			h2{
				color: blue;
			}
			p{
				margin-top: 8%;
				text-align: justify;
				text-indent: 6%;
				margin-bottom: 8%;
			}
			a{
				text-decoration: none;
				color: #595757;
				i{

					width: 50%;
					height: 9%;
					line-height: 219%;
					border: 1.2px solid #595757;
					display: block;
					margin-left: 16%;
					text-align: center;
					border-radius: 10%;
					cursor: pointer;
				}
			}
		}
		// background-color: #ccc;
		.main_sec{
			height: 50%;
			width: 100%;

			// position: absolute;
		}
		.all_er{
			width: 50%;
			margin: 0 auto;
			height: 20%;
			h1{
				font-size: 200%;
				padding-top: 8%;
				color: #1B2222;
			}
			.hr{
				margin-top: 2%;
				width: 50%;
				color: red;
				border-top: 8px solid #595757;
			}
		}

		.section_wrapper{
			width: 100%;
			height: 40%;
			position: relative;
			img{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		.sections_1{
			.Designer_sec{
				background-image: url(../images/designer_img.png);
				background-repeat: no-repeat;
				background-size: 60% 100%;
				background-position: 112% 50%;
			}
			.Achiever_sec{
				background-image: url(../images/lance_img_3.jpg);
				background-repeat: no-repeat;
				background-size: 56% 99%;
				background-position: 0 50%;	
			}
			
		}

		.section_2{
			.Guider_sec{
				background-image: url(../images/guider_img.jpg);
				background-repeat: no-repeat;
				background-size: 60% 100%;
				background-position: 100% 50%;
			}
			.Maintain_sec{
				background-image: url(../images/ll_img.jpg);
				background-repeat: no-repeat;
				background-size: 55% 99%;
				background-position: 0 50%;		
			}
		}

	}

	footer{
		border-top: 2px solid #97846D;
		margin-top: 3px;
		width: 100%;
		height: 120px;
		background-color: white;
		text-align: center;
		color: #97846D;
		padding-top: 2%;
		h1{
			margin-bottom: 1%;
		}
	}
}


//banner BGI response
@media all and (max-width: 1920px){
	header{
		background-image: url(../images/banner_bgi_1080.jpg);
		height: 1080px;
	}
}

@media all and (max-width: 1440px){
	header{
		background-image: url(../images/banner_bgi_1440.jpg);
		height: 900px;
	}
}



@media all and (max-width: 1366px){
	header{
		background-image: url(../images/banner_bgi_1366.jpg);
		height: 768px;
	}
}


@media all and (max-width: 1280px){
	header{
		background-image: url(../images/banner_bgi_1280.jpg);
		height: 740PX;
	}
}




