@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
  	transition: $transition;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}


@mixin transform-oriange($origin) {
  transform-origin: $origin;
  -moz-transition: $origin;
  -webkit-transition: $origin;
  -ms-transition: $origin;
  -o-transition: $origin;

}


@mixin scale($scale){
  transform: scale($scale);
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}

$white: #FFFFFF;
$gold: #FFDF00;
$silver: #c0c0c0;

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f2f2f2;
}

.pagewrapper{
	font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
		-ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;

	.nav_left{
		width: 3%;
		text-decoration: none;
		position: fixed;
		.log{
			width: 100%;
			margin-bottom: 5em;
			width: 100%;
			height: 6%;
			background-image: url(../images/lc_fav.png);
			background-size: 30px 30px;
		    background-repeat: no-repeat;
		    background-position: center center;
		}
		ul{
			font-size: 1em;
			list-style: none;
			writing-mode: vertical-rl;
			display: inline-flex;
			margin-top: 50%;
			line-height: 270%;
			li{
				margin-top: 0.5em;
				-webkit-transform: rotate(-180deg);
				-moz-transform: rotate(-180deg);
				
				cursor: pointer;
				height: 5em;
				text-align: center;
			}
			li:hover{
					background-color: red;
					color: white;
				}

		}
		.search{
			position: absolute;
			bottom: 1em;
			width: 100%;
			height: 6%;
			background-image: url(../images/search_ico.png);
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}

		.search:hover{
				background-color: red;
			}
		background-color: white;
		height: 100%;

	}

	.began_show_page{
		position: fixed;
		background-color: white;
		width: 98%;
		height: 100%;
		margin-left: 3%;
		z-index: 999;
		@include transition(all 1s);
		.began_show_page_content{
			position: relative;
			margin: 0 auto;
			text-align: center;
			margin-top: 12em;
			img{
				display: inline-block;
			}
			h1{
				display: inline-block;
				// line-height: 5em;
			    font-size: 5em;
			    font-weight: 200;
			    color: A96F57;
			    &:before{
			    	content: url("../images/lc_fav.png");
			    	margin-right: 0.3em;
			    	padding-top: 0.3em;
			    	position: relative;
			    	top: 0.3em;
			    }
			}
			p{
				font-size: 1.6em;
				margin-top: 1.6em;
				color: #DD8C5F;
				position: relative;
				top: 5em;
				opacity: 0;
				filter: alpha(opacity=0);
				@include transition(all 1s);
			}
		}
	}

	.about_page{
		// display: none;
		width: 98%;
		margin-left: 3%;
		// background-color: green;
		height: 100%;

		.left_img_show{
			width: 40%;
			height: 100%;
			position: fixed;
			// background-color: red;
			background-image: url(../images/lance_mainpage_bgi.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			z-index: 99;
			img{
				z-index: 500;
				position: absolute;
				top: 30%;
				right: -10%;
			}
		}

		.right_main_show{
			width: 60%;
			height: 100%;
			padding-top: 7%;
			// background-color: blue;
			margin-left: 40%;
			.mscontent_wrapper{
				padding: 3em 5%;
				text-align: center;

				.header{
					
				}
				.header p:last-child{
					color: #9cbbff;
				}
				.caption{
					padding-top: 2em;
					width: 70%;
					margin: 0 auto;
					text-indent: 2em;
					p{
						margin-bottom: 3em;
					}
					span{
						cursor: pointer;
					}
					:last-child:after{
						content: "";
					}
					span:after{
						content: "/";
						margin: 0 0.5em;
					}
				}

				.segmentation_hr{
					width: 70%;
					height: 1px;
					background-color: #262A3B;
					margin: 0 auto;
					margin-top: 6%;
					margin-bottom: 5%;
				}

				.feature_content{
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					h2{
						letter-spacing: 0.3em;
						color: 262A3B;
						padding: 2% 0;
					}
					.feature_item{

						margin-top: 7%;
						@include opacity(1);
						background-color: #FFFFFF;

					}
					.feature_item_1{
						width: 80%;
						img{
							width: 100%;
						}
						p{
							padding: 0.6em;
							text-indent: 0.8em;
							text-align: left;
							line-height: 1.8em;

						}
					}

					.feature_item_2{
						// border: 1px solid #b2e276;
						width: 90%;
						height: 34em;
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						.fi_left{
							// background-color: red;
							height: 100%;
							width: 49.6%;
							background-image: url("../images/food_logo.png");
							background-repeat: no-repeat;
							background-size: 100% 39%;
							border-right: 1px solid #b2e276;

							.food_content{
								writing-mode: vertical-lr;
								padding-top: 13em;
								padding-left: 5%;
								p:first-child{
									margin-right: 3%;
									color: #535770;
									font-weight: 600;
								}
								p:last-child{
									font-weight: 500;
    								font-size: 1.1em;
    								text-align: justify;
    								padding: 1.2em 0;
    								line-height: 1.6em;
    								color: #BBBF34;
    								height: 17em;
								}
							}
						}

						.fi_right{
							// background-color: blue;
							height: 100%;
							width: 50%;
							background-image: url("../images/music_logo.jpg");
							background-repeat: no-repeat;
							background-size: 100% 40%;
							background-position: 0 100%;

							.music_content{
								writing-mode: vertical-lr;
								padding-bottom: 13em;
								padding-left: 5%;
								p:first-child{
									margin-right: 3%;
									color: #BBBF34;
									font-weight: 600;
								}
								p:last-child{
									font-weight: 500;
    								font-size: 1.1em;
    								text-align: justify;
    								padding: 1.2em 0;
    								line-height: 1.8em;
    								color: #434770;
    								height: 17em;
								}
							}
						}
					}


				}


			}
		}
		.about_footer{
				width: 100%;
				// height: 500px;
				
				padding-top: 3em;

				.about_footer_connect{
					position: relative;
					background-color: #E82734;
					padding: 3em 0;
					padding-left: 20%;
					h2{
						position: absolute;
						top: 0;
						right: 2em;
						color: #EECE98;
					}
					
					.contact_a_wrapper{
						margin: 0 auto;
						& a:nth-child(1){
							img{
								width: 12em;;
								height: 18em;
								position: absolute;
							    top: -18em;
							    left: 19em;
							    z-index: 999;
								opacity: 0;
								filter: alpha(opacity=0);
								@include transform-oriange(0 100%);
								@include scale(0.01);
								@include transition(all 1s)
							}
							&:hover{
								img{
									opacity: 1;
									filter: alpha(opacity=0);

									@include scale(1);
								}

							}
						}

						& a:nth-child(2){
							img{
								width: 12em;;
								height: 18em;
								position: absolute;
							    top: -18em;
							    left: 19em;
							    z-index: 999;
								opacity: 0;
								filter: alpha(opacity=0);
								@include transform-oriange(0 100%);
								@include scale(0.01);
								@include transition(all 1s)
							}
							&:hover{
								img{
									opacity: 1;
									filter: alpha(opacity=0);

									@include scale(1);
								}
							}

						}

						& a:last-child{
							margin-left: 20%;
							margin-top: 1em;
						}
						.button {
						  font-size: 10px;
						  color: $white;
						  letter-spacing: 2px;
						  text-align: center;
						  line-height: 40px;
						  min-height: 40px;
						  opacity: 1;
						  transform: skewX(-8deg);
						  display: inline-block;
						  margin: 0 auto;
						  padding: 0 15px;
						  border: 2px solid $white;
						  text-decoration: none;
						  position: relative;
						  width: 200px;
						  .b-title {
						    transform: skewX(8deg);
						    display: block;
						    position: relative;
						    z-index: 2;
						    transition: color 0.3s linear;
						    transition-delay: 0.25s;
						  }
						  .shadow {
						    display: block;
						    position: absolute;
						    left: 0;
						    width: 100%;
						    height: 100%;
						    box-shadow: 0px 0px 40px $white;
						    opacity: 0;
						    transition: opacity 0.3s linear;
						  }
						  .wrapper {
						    position: absolute;
						    width: 100%;
						    height: 100%;
						    top: 0;
						    left: 0;
						    white-space: nowrap;
						    overflow: hidden;
						  }
						  .bg {
						    width: 75%;
						    height: 100%;
						    background-color: $white;
						    position: absolute;
						    left: -20%;
						    top: 0;
						    transform: skewX(-32deg) translateY(-100%);
						    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
						    &:last-child {
						      left: auto;
						      right: -20%;
						      transform: skewX(-32deg) translateY(100%);
						    }
						  }
						  &:hover {
						    .bg {
						      transform: translateY(0%);
						    }
						    .b-title {
						      color: #000;
						      transition-delay: none;
						    }
						    .shadow {
						      opacity: 1;
						    }
						  }
						  &.is-gold {
						    color: $gold;
						    border-color: $gold;
						    .shadow {
						      box-shadow: 0px 0px 40px $gold;
						    }
						    .bg {
						      background-color: $gold;
						    }
						  }
						  &.is-silver {
						    color: $silver;
						    border-color: $silver;
						    .shadow {
						      box-shadow: 0px 0px 40px $silver;
						    }
						    .bg {
						      background-color: $silver;
						    }
						  }
						  &.is-horizontal {
						    .bg {
						      width: 120%;
						    }
						    &:hover {
						      .bg:first-child {
						        transform: translateY(-50%);
						      }
						      .bg:last-child {
						        transform: translateY(50%);
						      }
						    }
						  }
						  &.is-vertical {
						    .bg {
						      top: 0;
						      transform: skewX(-8deg) translateY(0) translateX(-80%);
						      &:last-child {
						        transform: translateX(80%);
						      }
						    }
						    &:hover {
						      .bg {
						        transform: translateX(0);
						      }
						    }
						  }
						}
					}
				}

				.about_footer_claim{
					margin-top: 7em;
					border-top: 1px solid #97846D;
					padding-top: 1.6em;
					text-align: center;
					color: #97846D;
					h1{
						font-size: 3em;
						font-weight: 200;
						margin-bottom: 0.2em;
					}
					& p:last-child{
						margin-bottom: 2em;
					}
				}

			}

	}
	
	
	.newsShow{
		position: fixed;
		width: 20%;
		padding-top: 1%;
		background-color: red;
		right: -20%;
		top: 5%;
		color: white;
		text-indent: 0.6em;
		@include opacity(0.6);
		@include transition(all 1s);
		p{
			margin-bottom: 0.3em;
			margin: 0 1em;
		}

		.section_wrapper{
			display: flex;
			margin-top: 0.5em;
			justify-content: space-between;
			.section_1{
				padding: 0.5em;
				flex-grow: 1.5;
				cursor: pointer;
				width: 50%;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				text-align: center;
				&:hover {
					// background-color: D96A5c;
					background-color: 5c0303;
				}
			}

			.section_2{
				padding: 0.5em;
				cursor: pointer;
				width: 50%;
				border-top: 1px solid #ccc;
				text-align: center;
				&:hover{
					background-color: 5c0303;
				}
			}
		}
		
	}

	.search_page{
		display: none;
		width: 98%;
		// height: 100%;
		// background-color: blue;
		margin-left: 3%;
		padding-top: 10%;
		.search_input{
			width: 80%;
			margin: 0 auto;
			.TextLine1{
				height: 1.5em;
				font-size: 3em;
				background-color: #f2f2f2;
				width: 95%;
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-left-width: 1px;
				border-top-style: none;
				border-right-style: none;
				border-bottom-style: solid;
				border-left-style: none;
		        border-bottom-color: #ccc;	
		        // display: block;
		        
		        display: inline-block;
			}
			.TextLine1:focus{
				border-top: none;
				border-right: none;
				border-left: none;
				outline: none;
			}
			img{
				    height: 2em;
				    position: relative;
				    margin-left: -50px;
				    cursor: pointer;
			}
		}
		.result_content{
			width: 80%;
			height: 600px;
			// background-color: #fefeff;
			margin: 0 auto;
			margin-top: 2%;

			.result_des{
				color: #ccc;
				font-size: 1.3em;
				letter-spacing: 0.2em;
			}

			.result_dis{
				width: 100%;
				margin-top: 2%;
				// background-color: red;
				// height: 300px;
				display: flex;
				text-align: center;
				color: 5B4947;
				flex-wrap: wrap;
				justify-content: flex-start;
				.res_item{
					
					margin: 1em 0.5em;
					img{
						margin-bottom: 1em;
						cursor: pointer;
						-webkit-box-shadow: 0px 3px 3px;
  						-moz-box-shadow: 0px 3px 3px;
  						box-shadow: 0px 3px 3px;
					}
					h5{
						cursor: pointer;
						display: block;
						width: 16em;
					}
					h6{
						color: blue;
						margin-top: 0.3em;
						letter-spacing: 0.3em;
					}
				}
				
			}
		}
	}

	.right_progress_bar_wrapper{
		position: fixed;
		right: 0;
		width: 0.25em;
		// background-color: red;
		height: 100%;

		

		.right_progress_bar{
			width: 100%;
			height: 30%;
			position: relative;
			background-color: red;
			bottom: -20%;
			top: 100%;
			@include transition(all 1s);
		}
	}

}


@media all and (max-width: 1920px){
	body{
		font-size: 20px;
	}
}

@media all and (max-width: 1440px){
	body{
		
		font-size: 16px;
	}
}



@media all and (max-width: 1366px){
	body{
		font-size: 15px;
		
	}
}


@media all and (max-width: 1280px){
	body{
		font-size: 14px;
		.pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left .food_content p:last-child {
			line-height: 1.3em;
		}
		.pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right .music_content p:last-child {
			line-height: 1.3em;
		}
	}
}