@mixin transform-oriange($origin) {
  transform-origin: $origin;
  -moz-transition: $origin;
  -webkit-transition: $origin;
  -ms-transition: $origin;
  -o-transition: $origin;

}


@mixin scale($scale){
  transform: scale($scale);
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}

.pagewrapper .began_show_page {
    @include transform-oriange(0 1em);
    @include scale(0);   
}