<html>
<head>
	<meta charset="utf-8">
	<title>lance_blog</title>

	<!--<link rel="stylesheet" media="screen" href="./217/217.css">-->
	<link rel="stylesheet" href="../css/lc.css">
	<script type="text/javascript" src="../js/lc.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Lance lou">
	<meta name="description" content="lance blogs about his technology and life!">
	<meta name="robots" content="all">
</head>

<body>
 	<audio autoplay="autoplay" controls="controls"loop="loop" preload="auto" src="../bgm2.mp3" style="display: none">
      你的浏览器不支持audio标签
	</audio>
	<div class="pagewrapper">
		<div class="nav_left">
			<div class="log">
			</div>
			<ul id="nav_left_buttom">
				<li>MAIN</li>
				<li>NEW</li>
				<li>Life</li>
				<li>Techo</li>
				<li>ABOUT</li>
			</ul>
			<div class="search">
			</div>
		</div>
		<div class="right_progress_bar_wrapper">
			<div class="right_progress_bar" id="progress_bar">
				
			</div>
		</div>
		<div class="newsShow" id="newsShow">
			<p>博主正在火速建站中，小主莫急，不妨来首小曲儿(mumu哒)</p>
			<div class="section_wrapper">
				<div class="section_1">滚犊子</div>
				<div class="section_2">赐枪子儿一颗</div>
			</div>
		</div>
		<div class="began_show_page" id="began_show_page">
			<div class="began_show_page_content">
				<img src="../images/page_show_logo.png">
				<p>Make interesting things with interesting people whithout noise</p>
			</div>
		</div>
		<div class="about_page">
			<div class="left_img_show">
				<img src="../images/lance_himg.jpg">
			</div>
			<div class="right_main_show">
				<div class="mscontent_wrapper">
					<div class="header">
						<p>前端专业抖腿九段</p>
						<h1>术尘_lance lou</h1>
						<p>拖延专业户，轻摇发烧屌，爱笑，爱疯，装文艺</p>
					</div>
					<div class="caption">
						<p>爱技术，爱生活，爱音乐，爱面条，爱动，喜静，我是我，独一无二的我，为自由而努力，因梦想而坚持。稀饭尼采的一句话『谁终将声震人间，必长久深自缄默，谁终将点燃闪电，必长久如云漂泊。』不悔过去，不畏将来，相信可能，相信回报。2016年，相信回报，相信梦想，远方，未知，已知，征途，生命之役。</p>
						<span>WeiBo</span>
						<span>GitHub</span>
						<span>StackOverflow</span>
					</div>
					<div class="segmentation_hr">
					</div>
					<div class="feature_content">
						<h2>专注于爱好(Feature Module)</h2>
						<div class="feature_item_1 feature_item">
							<h2>前端(Front_End)</h2>
							<img src="../images/frontend_logo.png">
							<P>最为近几年兴起的一个专业，充满生机与活力，纵然，会存在一些外界的质疑，前端是不是美工？HTML算编程语言？这些，前端喵毫不在乎，因为本喵喜欢前端的那种即视感，喜欢屏幕前用户的点头微笑，终下定决心深耕前端。Hope one day. To be real!!!</P>
						</div>
						<div class="feature_item_2 feature_item">
							<div class="fi_left">
								<div class="food_content">
									<p>美食-人生</p>
									<p>民以食为天，食物是生活的必需品，吃好吃的和吃不好吃的，丫的都是吃，那，为啥咱们不选好吃的吃呢？在成都读大学的这几年里，我想，在这个地方，最让我难忘的终将会是这里的美食，对，面条，我曾立志，吃遍这个世界上所有的面，我想，某一天，和她一块，去游世界，去吃美食。</p>
								</div>
							</div>
							<div class="fi_right">
								<div class="music_content">
									<p>音乐-人生</p>
									<p>音乐，我的心情，我的表情，我的经历，爱音乐，爱生活。喜欢纯音乐，只因为起纯粹，音乐共鸣，何须词语表述。其快，其慢，其重，其轻......足以叙述任何人间词话。独爱小提琴，轻巧简单，从嘶哑到流畅，从轻快到磅礴。喜欢现代电子乐中的轻调与低音部分。</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="about_footer">
					<div class="about_footer_connect">
					<h2>联系我(contact with me)</h2>
						<div class="contact_a_wrapper">
							<a href="javascript:;" class="button">
							  <span class="shadow"></span>
							  <span class="wrapper">
							    <span class="bg"></span>
							    <span class="b-title">Contact WeChat</span>
							    <span class="bg"></span>
							  </span>
							  <img src="../images/wechat_qr.jpg">
							</a>

							<a href="javascript:;" class="button is-silver is-horizontal">
							  <span class="shadow"></span>
							  <span class="wrapper">
							    <span class="bg"></span>
							    <span class="b-title">Contact QQ</span>
							    <span class="bg"></span>
							  </span>
							  <img src="../images/contact_qq.jpg">
							</a>
							<br/>
							<a href="mailto:lc1456666@outlook.com" class="button is-gold is-vertical">
							  <span class="shadow"></span>
							  <span class="wrapper">
							    <span class="bg"></span>
							    <span class="b-title">Contact Email</span>
							    <span class="bg"></span>
							  </span>
							</a>
						</div>
					</div>
					<div class="about_footer_claim">
							<h1>Thanks For Visit</h1>
							<p>Disign by Lancelou&YohannaZhang,Achieve by Lancelou</p>
							<p>©️2016 Lancelou</p>
					</div>
				</div>
			</div>
		</div>
		<div class="search_page">
			<div class="search_input" id="search_input">
			  	<input name="MyTextfield" type="text" class="TextLine1" placeholder="Search things you want from Lance blogs!">
			  	<img src="../images/cross.png">
			 </div>
			 <div class="result_content">
			 	<div class="result_des">
			 		<p>2 RESULTS</p>
			 	</div>
			 	<div class="result_dis">
			 		<div class="res_item">
			 			<img src="../images/gulp_logo_small.jpg">
			 			<div class="caption">
			 				<h5>gulp学习笔记总结之前端自动化概述还有自动化展望</h5>
			 				<h6>Thcho/前端自动化</h6>
			 			</div>
			 		</div>

			 		<div class="res_item">
			 			<img src="../images/gulp_logo_small.jpg">
			 			<div class="caption">
			 				<h5>gulp学习笔记总结之前端自动化概述还有自动化展望</h5>
			 				<h6>Thcho/前端自动化</h6>
			 			</div>
			 		</div>
			 	</div>
			 </div>
		</div>
	</div>
</body>
</html>
