<html>
<head>
	<meta charset="utf-8">
	<link href="../css/styles.css" type="text/css" rel="stylesheet"/>
	<script  type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="../js/ll.js"></script>
	<title>ll</title>
</head>
<body>
	<div class="bg">
		
	</div>

	<div class="title-nav">
		<span>李小林</span>
		<ul id="menu">
			<li>Menu <i class="iconfont">&#xe601;</i></li>		
		</ul>
		
	</div>
	<div id="menu-section">
			<span class="close">X</span>
			<ul class="menu-list">
				<li>首页</li>
				<li>关于我</li>
				<li>联系我</li>
				<li>友链</li>				
			</ul>
		</div>
	<div class="page-1">
		<div class="name">
			李小林
		</div>
		<p>大家好，我的名字是李小林</p>
		<div class="about-me">
			了解我
		</div>
		<div class="more">
			更多<br/>		
			<i class="iconfont">&#xe603;</i>
		</div>
	</div>
	
	<div class="page-2">
		<h2>我的博客</h2>
		<div class="hr"></div>
		<p>一个简陋的个人博客，a easy personal Blog</p>
	
		<div class="icon-group">
			<span class="icon"><i class="iconfont">&#xe635;</i></span>
			<span class="icon"><i class="iconfont">&#xe62e;</i></span>
			<span class="icon"><i class="iconfont">&#xe629;</i></span>
		</div>
		
		<section class="article">
			<div class="article-preview">
				<div class="img-section">
					<img src="../images/article-1.jpg"/>
				</div>
				<div class="text-section">
					<h3>瞅啥瞅，什么仇什么怨</h3>
					<h4>see what? what hate what yuan</h4>
					<p>瞅啥瞅,再瞅试试，试试就试试，你瞅啥？再瞅试试，试试就试试，你瞅啥？再瞅试试，试试就试试，你瞅啥？再瞅试试，试试就试试，你瞅啥？再瞅试试，试试就试……</p>
				</div>
			</div>
			<div class="article-preview article-preview-2">
				<div class="img-section">
					<img src="../images/article-2.jpg"/>
				</div>
				<div class="text-section">
					<h3>我很欣赏你骚年</h3>
					<h4>you are atractting my eyes</h4>
					<p>据悉，金正恩的豪华游艇折合人民币四千多万，而金正恩手表也来自顶级腕表品牌百达翡丽，下面就为大家揭秘金正恩的奢华装备。 </p>
				</div>
			</div>
			<div class="article-preview">
				<div class="img-section">
					<img src="../images/article-3.jpg"/>
				</div>
				<div class="text-section">
					<h3>普通拳</h3>
					<h4>general fist ,bomb!</h4>
					<p>汪东城热爱二次元和Cos相信很多粉丝都知道,上次我们报道了他在节目中Cos洛天依让观众眼镜掉了一地。今天,他又给我们带来了他Cos的一拳超人中的琦玉老师,锃亮的秃头和表情简直堪比真人。</p>
				</div>
			</div>
		</section>
	</div>

	<div class="page-3">
		<div class="introduce">
			<h3>个人简历</h3>
			<div class="hr"></div>
			<p>我是一个热爱生活，性格不内向，心态积极，有追求有进取心，乐于沟通，喜欢表达自己的思想的人，为了达到目标，能够克服重重困难。</p>
		</div>
		<div class="card-group">
			<div class="card">
				<h4><i class="iconfont">&#xe62e;</i>&nbsp;&nbsp;&nbsp;熟练HTML</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>
			<div class="card">
				<h4><i class="iconfont">&#xe635;</i>&nbsp;&nbsp;&nbsp;熟练CSS</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>
			<div class="card">
				<h4><i class="iconfont">&#xe620;</i>&nbsp;&nbsp;&nbsp;熟练java</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>
			<div class="card">
				<h4><i class="iconfont">&#xe629;</i>&nbsp;&nbsp;&nbsp;熟练C</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>			
			<div class="card">
				<h4><i class="iconfont">&#xe642;</i>&nbsp;&nbsp;&nbsp;熟练js</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>
			<div class="card">
				<h4><i class="iconfont">&#xe62e;</i>&nbsp;&nbsp;&nbsp;熟悉jQuery</h4>
				<p>I am a love life, not introverted personality, positive, have the pursuit of aggressive, willing to communicate, like the person who express their own thoughts</p>
			</div>			
		</div>	
	</div>
	
	<div class="footer">
		<ul class="footer-list">
			<li><i class="iconfont">&#xe610;</i></li>
			<li><i class="iconfont">&#xe608;</i></li>
			<li><i class="iconfont">&#xe665;</i></li>
			<li><i class="iconfont">&#xe667;</i></li>
			<li><i class="iconfont">&#xe620;</i></li>
		</ul>
		<div class="copy">
			&copy 李小林
		</div>
		
	</div>
</body>
</html>
