* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2; }

.pagewrapper {
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis; }
  .pagewrapper .nav_left {
    width: 3%;
    text-decoration: none;
    position: fixed;
    background-color: white;
    height: 100%; }
    .pagewrapper .nav_left .log {
      width: 100%;
      margin-bottom: 5em;
      width: 100%;
      height: 6%;
      background-image: url(../images/lc_fav.png);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center center; }
    .pagewrapper .nav_left ul {
      font-size: 1em;
      list-style: none;
      writing-mode: vertical-rl;
      display: inline-flex;
      margin-top: 50%;
      line-height: 270%; }
      .pagewrapper .nav_left ul li {
        margin-top: 0.5em;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        cursor: pointer;
        height: 5em;
        text-align: center; }
      .pagewrapper .nav_left ul li:hover {
        background-color: red;
        color: white; }
    .pagewrapper .nav_left .search {
      position: absolute;
      bottom: 1em;
      width: 100%;
      height: 6%;
      background-image: url(../images/search_ico.png);
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer; }
    .pagewrapper .nav_left .search:hover {
      background-color: red; }
  .pagewrapper .began_show_page {
    position: fixed;
    background-color: white;
    width: 98%;
    height: 100%;
    margin-left: 3%;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .pagewrapper .began_show_page .began_show_page_content {
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: 12em; }
      .pagewrapper .began_show_page .began_show_page_content img {
        display: inline-block; }
      .pagewrapper .began_show_page .began_show_page_content h1 {
        display: inline-block;
        font-size: 5em;
        font-weight: 200;
        color: A96F57; }
        .pagewrapper .began_show_page .began_show_page_content h1:before {
          content: url("../images/lc_fav.png");
          margin-right: 0.3em;
          padding-top: 0.3em;
          position: relative;
          top: 0.3em; }
      .pagewrapper .began_show_page .began_show_page_content p {
        font-size: 1.6em;
        margin-top: 1.6em;
        color: #DD8C5F;
        position: relative;
        top: 5em;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
  .pagewrapper .about_page {
    width: 98%;
    margin-left: 3%;
    height: 100%; }
    .pagewrapper .about_page .left_img_show {
      width: 40%;
      height: 100%;
      position: fixed;
      background-image: url(../images/lance_mainpage_bgi.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 99; }
      .pagewrapper .about_page .left_img_show img {
        z-index: 500;
        position: absolute;
        top: 30%;
        right: -10%; }
    .pagewrapper .about_page .right_main_show {
      width: 60%;
      height: 100%;
      padding-top: 7%;
      margin-left: 40%; }
      .pagewrapper .about_page .right_main_show .mscontent_wrapper {
        padding: 3em 5%;
        text-align: center; }
        .pagewrapper .about_page .right_main_show .mscontent_wrapper .header p:last-child {
          color: #9cbbff; }
        .pagewrapper .about_page .right_main_show .mscontent_wrapper .caption {
          padding-top: 2em;
          width: 70%;
          margin: 0 auto;
          text-indent: 2em; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .caption p {
            margin-bottom: 3em; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .caption span {
            cursor: pointer; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .caption :last-child:after {
            content: ""; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .caption span:after {
            content: "/";
            margin: 0 0.5em; }
        .pagewrapper .about_page .right_main_show .mscontent_wrapper .segmentation_hr {
          width: 70%;
          height: 1px;
          background-color: #262A3B;
          margin: 0 auto;
          margin-top: 6%;
          margin-bottom: 5%; }
        .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content {
          display: flex;
          justify-content: center;
          flex-wrap: wrap; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content h2 {
            letter-spacing: 0.3em;
            color: 262A3B;
            padding: 2% 0; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item {
            margin-top: 7%;
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: #FFFFFF; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_1 {
            width: 80%; }
            .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_1 img {
              width: 100%; }
            .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_1 p {
              padding: 0.6em;
              text-indent: 0.8em;
              text-align: left;
              line-height: 1.8em; }
          .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 {
            width: 90%;
            height: 34em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; }
            .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left {
              height: 100%;
              width: 49.6%;
              background-image: url("../images/food_logo.png");
              background-repeat: no-repeat;
              background-size: 100% 39%;
              border-right: 1px solid #b2e276; }
              .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left .food_content {
                writing-mode: vertical-lr;
                padding-top: 13em;
                padding-left: 5%; }
                .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left .food_content p:first-child {
                  margin-right: 3%;
                  color: #535770;
                  font-weight: 600; }
                .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left .food_content p:last-child {
                  font-weight: 500;
                  font-size: 1.1em;
                  text-align: justify;
                  padding: 1.2em 0;
                  line-height: 1.6em;
                  color: #BBBF34;
                  height: 17em; }
            .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right {
              height: 100%;
              width: 50%;
              background-image: url("../images/music_logo.jpg");
              background-repeat: no-repeat;
              background-size: 100% 40%;
              background-position: 0 100%; }
              .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right .music_content {
                writing-mode: vertical-lr;
                padding-bottom: 13em;
                padding-left: 5%; }
                .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right .music_content p:first-child {
                  margin-right: 3%;
                  color: #BBBF34;
                  font-weight: 600; }
                .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right .music_content p:last-child {
                  font-weight: 500;
                  font-size: 1.1em;
                  text-align: justify;
                  padding: 1.2em 0;
                  line-height: 1.8em;
                  color: #434770;
                  height: 17em; }
    .pagewrapper .about_page .about_footer {
      width: 100%;
      padding-top: 3em; }
      .pagewrapper .about_page .about_footer .about_footer_connect {
        position: relative;
        background-color: #E82734;
        padding: 3em 0;
        padding-left: 20%; }
        .pagewrapper .about_page .about_footer .about_footer_connect h2 {
          position: absolute;
          top: 0;
          right: 2em;
          color: #EECE98; }
        .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper {
          margin: 0 auto; }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper a:nth-child(1) img {
            width: 12em;
            height: 18em;
            position: absolute;
            top: -18em;
            left: 19em;
            z-index: 999;
            opacity: 0;
            filter: alpha(opacity=0);
            transform-origin: 0 100%;
            -moz-transition: 0 100%;
            -webkit-transition: 0 100%;
            -ms-transition: 0 100%;
            -o-transition: 0 100%;
            transform: scale(0.01);
            -moz-transform: scale(0.01);
            -webkit-transform: scale(0.01);
            -ms-transform: scale(0.01);
            -o-transform: scale(0.01);
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper a:nth-child(1):hover img {
            opacity: 1;
            filter: alpha(opacity=0);
            transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1); }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper a:nth-child(2) img {
            width: 12em;
            height: 18em;
            position: absolute;
            top: -18em;
            left: 19em;
            z-index: 999;
            opacity: 0;
            filter: alpha(opacity=0);
            transform-origin: 0 100%;
            -moz-transition: 0 100%;
            -webkit-transition: 0 100%;
            -ms-transition: 0 100%;
            -o-transition: 0 100%;
            transform: scale(0.01);
            -moz-transform: scale(0.01);
            -webkit-transform: scale(0.01);
            -ms-transform: scale(0.01);
            -o-transform: scale(0.01);
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper a:nth-child(2):hover img {
            opacity: 1;
            filter: alpha(opacity=0);
            transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1); }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper a:last-child {
            margin-left: 20%;
            margin-top: 1em; }
          .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button {
            font-size: 10px;
            color: #FFFFFF;
            letter-spacing: 2px;
            text-align: center;
            line-height: 40px;
            min-height: 40px;
            opacity: 1;
            transform: skewX(-8deg);
            display: inline-block;
            margin: 0 auto;
            padding: 0 15px;
            border: 2px solid #FFFFFF;
            text-decoration: none;
            position: relative;
            width: 200px; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button .b-title {
              transform: skewX(8deg);
              display: block;
              position: relative;
              z-index: 2;
              transition: color 0.3s linear;
              transition-delay: 0.25s; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button .shadow {
              display: block;
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              box-shadow: 0px 0px 40px #FFFFFF;
              opacity: 0;
              transition: opacity 0.3s linear; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button .wrapper {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              white-space: nowrap;
              overflow: hidden; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button .bg {
              width: 75%;
              height: 100%;
              background-color: #FFFFFF;
              position: absolute;
              left: -20%;
              top: 0;
              transform: skewX(-32deg) translateY(-100%);
              transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button .bg:last-child {
                left: auto;
                right: -20%;
                transform: skewX(-32deg) translateY(100%); }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button:hover .bg {
              transform: translateY(0%); }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button:hover .b-title {
              color: #000;
              transition-delay: none; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button:hover .shadow {
              opacity: 1; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-gold {
              color: #FFDF00;
              border-color: #FFDF00; }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-gold .shadow {
                box-shadow: 0px 0px 40px #FFDF00; }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-gold .bg {
                background-color: #FFDF00; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-silver {
              color: #c0c0c0;
              border-color: #c0c0c0; }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-silver .shadow {
                box-shadow: 0px 0px 40px #c0c0c0; }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-silver .bg {
                background-color: #c0c0c0; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-horizontal .bg {
              width: 120%; }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-horizontal:hover .bg:first-child {
              transform: translateY(-50%); }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-horizontal:hover .bg:last-child {
              transform: translateY(50%); }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-vertical .bg {
              top: 0;
              transform: skewX(-8deg) translateY(0) translateX(-80%); }
              .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-vertical .bg:last-child {
                transform: translateX(80%); }
            .pagewrapper .about_page .about_footer .about_footer_connect .contact_a_wrapper .button.is-vertical:hover .bg {
              transform: translateX(0); }
      .pagewrapper .about_page .about_footer .about_footer_claim {
        margin-top: 7em;
        border-top: 1px solid #97846D;
        padding-top: 1.6em;
        text-align: center;
        color: #97846D; }
        .pagewrapper .about_page .about_footer .about_footer_claim h1 {
          font-size: 3em;
          font-weight: 200;
          margin-bottom: 0.2em; }
        .pagewrapper .about_page .about_footer .about_footer_claim p:last-child {
          margin-bottom: 2em; }
  .pagewrapper .newsShow {
    position: fixed;
    width: 20%;
    padding-top: 1%;
    background-color: red;
    right: -20%;
    top: 5%;
    color: white;
    text-indent: 0.6em;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .pagewrapper .newsShow p {
      margin-bottom: 0.3em;
      margin: 0 1em; }
    .pagewrapper .newsShow .section_wrapper {
      display: flex;
      margin-top: 0.5em;
      justify-content: space-between; }
      .pagewrapper .newsShow .section_wrapper .section_1 {
        padding: 0.5em;
        flex-grow: 1.5;
        cursor: pointer;
        width: 50%;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        text-align: center; }
        .pagewrapper .newsShow .section_wrapper .section_1:hover {
          background-color: 5c0303; }
      .pagewrapper .newsShow .section_wrapper .section_2 {
        padding: 0.5em;
        cursor: pointer;
        width: 50%;
        border-top: 1px solid #ccc;
        text-align: center; }
        .pagewrapper .newsShow .section_wrapper .section_2:hover {
          background-color: 5c0303; }
  .pagewrapper .search_page {
    display: none;
    width: 98%;
    margin-left: 3%;
    padding-top: 10%; }
    .pagewrapper .search_page .search_input {
      width: 80%;
      margin: 0 auto; }
      .pagewrapper .search_page .search_input .TextLine1 {
        height: 1.5em;
        font-size: 3em;
        background-color: #f2f2f2;
        width: 95%;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-bottom-color: #ccc;
        display: inline-block; }
      .pagewrapper .search_page .search_input .TextLine1:focus {
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none; }
      .pagewrapper .search_page .search_input img {
        height: 2em;
        position: relative;
        margin-left: -50px;
        cursor: pointer; }
    .pagewrapper .search_page .result_content {
      width: 80%;
      height: 600px;
      margin: 0 auto;
      margin-top: 2%; }
      .pagewrapper .search_page .result_content .result_des {
        color: #ccc;
        font-size: 1.3em;
        letter-spacing: 0.2em; }
      .pagewrapper .search_page .result_content .result_dis {
        width: 100%;
        margin-top: 2%;
        display: flex;
        text-align: center;
        color: 5B4947;
        flex-wrap: wrap;
        justify-content: flex-start; }
        .pagewrapper .search_page .result_content .result_dis .res_item {
          margin: 1em 0.5em; }
          .pagewrapper .search_page .result_content .result_dis .res_item img {
            margin-bottom: 1em;
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 3px;
            -moz-box-shadow: 0px 3px 3px;
            box-shadow: 0px 3px 3px; }
          .pagewrapper .search_page .result_content .result_dis .res_item h5 {
            cursor: pointer;
            display: block;
            width: 16em; }
          .pagewrapper .search_page .result_content .result_dis .res_item h6 {
            color: blue;
            margin-top: 0.3em;
            letter-spacing: 0.3em; }
  .pagewrapper .right_progress_bar_wrapper {
    position: fixed;
    right: 0;
    width: 0.25em;
    height: 100%; }
    .pagewrapper .right_progress_bar_wrapper .right_progress_bar {
      width: 100%;
      height: 30%;
      position: relative;
      background-color: red;
      bottom: -20%;
      top: 100%;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }

@media all and (max-width: 1920px) {
  body {
    font-size: 20px; } }

@media all and (max-width: 1440px) {
  body {
    font-size: 16px; } }

@media all and (max-width: 1366px) {
  body {
    font-size: 15px; } }

@media all and (max-width: 1280px) {
  body {
    font-size: 14px; }
    body .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_left .food_content p:last-child {
      line-height: 1.3em; }
    body .pagewrapper .about_page .right_main_show .mscontent_wrapper .feature_content .feature_item_2 .fi_right .music_content p:last-child {
      line-height: 1.3em; } }
